.auth-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    /* background: url('/images/auth-bg.jpg') center/cover no-repeat; */
    background-color: black ;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    z-index: 1;
}

.auth-card {
    background-color: var(--bg-color);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: var(--shadow-color);
    max-width: 400px;
    width: 100%;
    z-index: 10;
    backdrop-filter: blur(2px);
}

.auth-title {
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--text-color);
}

.auth-toggle {
    text-align: center;
    margin-top: 1rem;
}

.auth-toggle span {
    color: var(--accent-color);
    cursor: pointer;
    font-weight: bold;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.auth-form input {
    padding: 0.75rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
    outline: none;
}

.auth-form button {
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
}

.auth-form button:hover {
    background-color: #0056b3;
}